html {
  scroll-behavior: smooth;
  color: #f5f5f5;
}
.navbar {
  overflow: hidden;
  background-color: #2c5d63;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
p {
  margin: 3cm auto 3cm;
  width: 300px;
  text-align: center;
}
body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #283739;
  text-align: center;
}

div:not(.navbar) {
  padding-top: 75px;
  padding-right: 30px;
  padding-bottom: 75px;
  padding-left: 30px;
}
.container {
    text-align: center;
    margin-top: 150px;
}
ul {
  columns: 2;
  padding: 0;
  margin: 0;
}
img {
  border-radius: 50%;
}
.column {
  float: left;
  width: 14.28%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: auto;
}
